<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimSimi - 2213020120</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src='js/responsivevoice.js'></script>
</head>

<body background="img/wallpaper.jpg">
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">SimSimi</a>
            <li class="nav-item dropdown d-flex">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Bahasa
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/ind">Indonesia</a></li>
                    <li><a class="dropdown-item" href="/eng">English</a></li>
                </ul>
            </li>
        </div>
    </nav>
    <img src="img/simi.png" alt="" class="updown menu">
    <h4 class="header">Mulai Percakapan dengan SimSimi</h4>
    <div class="pil">
        <a href="/ind"><button type="button" class="pil-item">Indonesia</button></a>
        <a href="/eng"><button type="button" class="pil-item">English</button></a>
    </div>

    <footer class="py-3 my-4">
        <p class="text-center text-muted">© Ilham Khefi Ramadhanu - 2213020120</p>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>